<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="author" content="Chad Black">
  <meta name="description" content="{{ page.meta-description }}">
  <meta name="keywords" content=
  "Chad Black, digital history, university of tennessee, utk, history 580, digital humanities">

  <title>{{ page.title }} | History 580</title>
	<link href='http://fonts.googleapis.com/css?family=Lekton:400,700|Source+Sans+Pro|Source+Code+Pro|Alegreya:400italic,700italic,400,700|Alegreya+SC:400,700,700italic|Molengo' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="/favicon.ico">
  <link href="/history580/sitemap.atom" type="application/atom+xml" rel=
  "alternate" title="Sitewide ATOM Feed">
  <link rel="stylesheet" media="screen" href="/history580/css/screen.css" type="text/css">
	<script src="/history580/scripts/html5shiv.js" type="text/javascript"></script>
</head>

<body>
  <div id="container">
    {{content}}

    <footer>
        <br>
        <a id="atomfeed" href="/sitemap.atom" rel="alternate" type=
        "application/atom+xml"><img id="feed-badge" src="/images/feed-icon-14x14.png" alt=""></a>&nbsp;<a href=
        "/sitemap.atom" rel="alternate" type=
        "application/atom+xml"><span class=
        "bullet">Subscribe</span></a><br class="clear">
        <a href=
        "http://creativecommons.org/licenses/by/3.0/us/"><img class="badge"
        src="/history580/images/cc-badge.png" alt=""></a>

        <p>This site is the work of Chad Black and the students of History 580/482, and, unless
        otherwise indicated, is licensed under a Creative Commons
        Attribution 3.0 United States license <a href=
        "http://creativecommons.org/licenses/by/3.0/us/">(CC-BY
        3.0)</a></p><br>
    <p>Theme by <a href="http://stephenramsay.us">Stephen Ramsay</a>. Hosted on <a href="http://pages.github.com/">Github Pages.</a></p> 
    <br>

    </footer>
  </div>
</body>
</html>
